  build:
    maxIssues: 0

  config:
    validation: true

  processors:
    active: true

  rules:

    comments:
      UndocumentedPublicFunction:
        active: false

    complexity:
      LongMethod:
        active: true
        threshold: 40

    style:
      MagicNumber:
        active: false
      WildcardImport:
        active: false

    naming:
      FunctionNaming:
        active: true
        functionPattern: '[a-z][A-Za-z0-9]*'
